---
id: "root" 
---
<html>
    <head>
        <title>Чат</title>
        <link rel="stylesheet" href="./static/styles.css" />
        <script src="src/index.js" type="module"></script>
    </head>
    <body>
        <div id="{{id}}"></div>
        <a href="./static/LogIn/login.html">Вход</a>
    </body>
</html>